.THIS .slds-text-heading_small{
    font-size: 25px ;
    
    
}
.divclass.THIS {
    background-color: #FFFFFF;
    
    
}
.h1class.THIS {
    background-color: #FFFFFF;
    font-weight: bold ;
     font-size: 20px ;
}
.layoutClass.THIS {
    margin-right: 100px;
}